fastapi
uvicorn[standard]
pydantic
pydantic[email]
pydantic-settings
sqlalchemy
psycopg2-binary
pyjwt
bcrypt
openai
langchain
langchain-text-splitters
langchain-core
langchain-unstructured
unstructured
sentence-transformers
faiss-cpu
numpy
python-multipart